<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"

    package="com.softwinner.dvr">
    <permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <!-- 读写文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.size" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- 录音录像权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" /> -->
    <application
        android:name=".common.DVRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_Camera">

        <!-- <activity android:name=".ui.activity.MainActivity"> -->


        <!-- &lt;!&ndash; <intent-filter> &ndash;&gt; -->
        <!-- &lt;!&ndash; <action android:name="android.intent.action.MAIN" /> &ndash;&gt; -->


        <!-- &lt;!&ndash; <category android:name="android.intent.category.LAUNCHER" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; </intent-filter> &ndash;&gt; -->
        <!-- </activity> -->

        <service
            android:name=".media.RecordService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.FileActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.DebugActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.LenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.CornerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" />
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <activity
            android:name=".ui.activity.RecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activity.ImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.VideoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.ChoiceCameraActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <receiver android:name=".ui.receiver.AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>-->

        <receiver android:name=".ui.receiver.StorageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.softwinner.dvr.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/content_provider_path" />
        </provider>
    </application>

</manifest>